body {
    background-color: black;
    color: green;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: auto;
}

.content {
    text-align: center;
    padding: 20px;
}

.heading {
    font-size: 6em;
    margin-top: 20px;
    margin-bottom: 20px;
    animation: color-change 3s infinite;
    font-family: cursive;
}

.color-changing-line {
    width: 80%;
    border: none;
    height: 4px;
    background: orange;
    animation: color-change 3s infinite;
    margin-bottom: 20px;
}

.chakra {
    position: absolute;
    top: 10px;
    left: 10px;
}

.chakri {
    width: 180px; 
    height: auto;
    animation: rotate 4s linear infinite;
}

.ceo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.rana {
    width: 250px; 
    height: 200px;
    border-radius: 15px;
    margin-right: 20px;
}

.identity-list {
    list-style-type: none;
    padding: 0;
    font-size: 1.5em;
    color: white;
    font-family: cursive;
}

.identity-list li {
    margin-bottom: 20px;
    position: relative;
    padding-left: 20px;
}

.identity-list li::before {
    content: '●';
    color: orange;
    position: absolute;
    left: 0;
    top: 0;
}

.identity-list a {
    color: orange;
    text-decoration: none;
}

.identity-list a:hover {
    text-decoration: underline;
}

.logo {
    position: absolute;
    top: 10px;
    right: 10px;
}

.logo-img {
    width: 200px;
    height: auto;
}

@keyframes color-change {
    0% { color: orange; }
    33% { color: white; }
    66% { color: green; }
    100% { color: orange; }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.identity-list a{
    color: orange;
}

.identity-list a:hover{
    color: orangered;
    transition: 0.8s;
}
